.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    background-image: url(/i/b-i.jpg);
}

.login-btn {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}
.logout-btn {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}
.user-li {
    padding-top: 15px;
    margin-left: 8px;
    color: blue;
}
.user-li span {
    font-weight: bold;
}
/*.almost-white {*/
    /*background-color: #eee;*/
/*}*/

body {
    overflow-y: scroll;
}

.wide-picture {
    max-width: 95%;
}

.img-center {
    text-align: center;
    border: 1px dotted darkgray;
    border-radius: 12px;

}

body {
    /*font-size: 120%;*/
}

.footer {
    font-size: 85%;
}

.nav-first {
    padding: 7px;
    background-color: #e9e9ff;
}
.nav-first > li {
    background-color: #fafaff;
}
.nav-second {
    padding: 7px;
    background-color: lightyellow;
}
.nav-second > li {
    background-color: lightgoldenrodyellow;
}
.nav-second > li > a {
    color: #009900;
}
.nav-second > li.active > a {
    background-color: #009900;
}



/*.navbar-diplom-shop-admin > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {*/
    /*background-image: url(/i/a-p-i.jpg);*/
/*}*/



.navbar-inverse .navbar-nav > li > a {
    color: lightyellow;
}
.navbar-diplom-shop-admin .navbar-nav > li > a:hover {
    /*color: lightblue;*/
    color: black;
    /*background-color: #777;*/
    background-color: #bbb;
    /*font-weight: bold;*/
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: #efefef;
}

.navbar-diplom-shop-admin-image {
    height: 50px;
    width: 100%;
}
.navbar-diplom-shop-admin {
    background-color: #555;
    color: #ddd;
}
.navbar-diplom-shop {
    margin-top: 50px;
}
.admin-li {
    padding-top: 15px;
    margin-left: 18px;
    margin-right: 28px;
    font-weight: bold;
    color: yellow;
}
